.DS_Store
/.idea
out
/.svn
*.iml
/.gradle
/.gradle-user-home
/.gradle-user
/build
/api/build
/.m2
/target
/.gradle-p2
/.p2-*
/p2classes
/deploy/kubernetes/backend/secret.env
/deploy/kubernetes/backend/secret.yaml
